<a href="https://colab.research.google.com/github/Ohjinseo2022/Showmeeverything/blob/master/%EC%83%81%EA%B4%80%EA%B4%80%EA%B3%84_%EC%9E%AC%EB%B6%84%EC%84%9D%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import chardet
import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, date
import datetime
import csv
#반복문 시간 확인
from tqdm import tqdm

In [4]:
# 브랜드지수
brand_list = [['힐스테이트',359],['자이',306],['푸르지오',303],['롯데캐슬', 264.9],
              ['더샵',264.3],['래미안',256],['e편한세상', 240],['아이파크',176],
              ['위브',174],['sk',140],['한화',90],['베르디움',81],['서희스타힐스',78],['데시앙',76],['하늘채',75],['쌍용',73],['한라비발디',72]]

In [5]:
#학군점수 
school_list = [['강남구', 0.23],
 ['강동구', 0.01],
 ['강북구', 0.01],
 ['강서구', 0.08],
 ['관악구', 0.01],
 ['광진구', 0.05],
 ['구로구', 0.01],
 ['금천구', 0.01],
 ['노원구', 0.1],
 ['도봉구', 0.01],
 ['동대문구',0.01],
 ['동작구', 0.01],
 ['마포구', 0.01],
 ['서대문구', 0.01],
 ['서초구', 0.13],
 ['성동구',0.01],
 ['성북구', 0.01],
 ['송파구', 0.1],
 ['양천구',0.1],
 ['영등포구', 0.01],
 ['용산구', 0.025],
 ['은평구', 0.01],
 ['종로구', 0.01],
 ['중구', 0.01],
 ['중랑구', 0.01]]

In [6]:
fordername = '/content/drive/MyDrive/시각화프로젝트/회귀모델전처리/'
file_list = os.listdir('/content/drive/MyDrive/시각화프로젝트/회귀모델전처리')
file_list

['아파트매매초기.csv',
 '사업체개수.csv',
 '유통업체현황_20221208164440 (1).csv',
 '병원의수.csv',
 '서울개수.csv']

In [7]:
apt = pd.read_csv(fordername+file_list[0], encoding='cp949')
company= pd.read_csv(fordername+file_list[1], encoding='utf-8')
mart= pd.read_csv(fordername+file_list[2], encoding='utf-8')
hospital= pd.read_csv(fordername+file_list[3], encoding='utf-8')
subway = pd.read_csv(fordername+file_list[4], encoding='cp949')

In [28]:
mart

     행정구  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021
0    종로구    12    12    12    12    12    12    12    13    13    13
1     중구    37    54    52    53    53    53    53    53    53    54
2    용산구    14    12    15    15    15    15    15    13    13    15
3    성동구    12    12    15    12    14    13    13    13    13     8
4    광진구    10    10    18    19    19    19    19    19    19    19
5   동대문구    13    14    24    23    23    22    22    21    21    21
6    중랑구     6     7    14    14    14    14    14    14    14    14
7    성북구     5     5    11    11    18    20    21    21    21    19
8    강북구     7    13    13    13    13    13    13    12    12    12
9    도봉구     8     8     9     9     9     9     9     9     8     8
10   노원구    15    14    15    14    14    14    14    14    14    14
11   은평구     9     9    18    18    19    18    17    18    17    16
12  서대문구     3     3     9     9     9     9     9     9     9     9
13   마포구     9     9    17    15    15    15    16    16    16    16
14   양천구    12    12    13    14    14    13    20    20    20    20
15   강서구    12    13    19    19    18    18    15    15    15    15
16   구로구    25    24    24    24    24    21    24    23    23    23
17   금천구    10    11    14    15    15    16    15    15    15    15
18  영등포구    13    14    27    27    27    28    28    28    26    26
19   동작구     2     2     6     6     6     6     6     6     5     6
20   관악구     7     8    20    21    21    21    21    21    21    21
21   서초구    26    25    27    27    27    27    28    28    27    27
22   강남구    23    26    31    32    32    32    32    32    32    32
23   송파구    18    19    25    24    23    23    22    22    22    22
24   강동구     5    13    16    16    16    16    12    12    12    10

In [27]:
company

,항목,행정구,행정동,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년
0,사업체수,종로구,종로구,38635.0,39486.0,39326.0,40923.0,40871.0,40664.0,40490.0,39952.0,39679.0,50531.0
7,사업체수,중구,중구,59567.0,64307.0,64846.0,65364.0,66190.0,63640.0,62936.0,60957.0,60127.0,76129.0
14,사업체수,용산구,용산구,19392.0,20004.0,20067.0,20482.0,21178.0,20994.0,20806.0,20813.0,20254.0,31507.0
21,사업체수,성동구,성동구,23300.0,24250.0,24803.0,25714.0,26130.0,26581.0,27278.0,27868.0,28343.0,41582.0
28,사업체수,광진구,광진구,24607.0,24828.0,24676.0,24760.0,24531.0,24895.0,24688.0,24535.0,24445.0,35423.0
35,사업체수,동대문구,동대문구,30130.0,31881.0,31972.0,32878.0,32994.0,32762.0,32411.0,31878.0,31324.0,43029.0
42,사업체수,중랑구,중랑구,26992.0,27289.0,27490.0,28047.0,27287.0,27915.0,28045.0,28024.0,28228.0,38558.0
49,사업체수,성북구,성북구,24674.0,25061.0,25074.0,25104.0,24690.0,24560.0,24039.0,23287.0,23617.0,34420.0
56,사업체수,강북구,강북구,19404.0,19485.0,19248.0,19223.0,18654.0,18742.0,18928.0,18918.0,19014.0,26711.0
63,사업체수,도봉구,도봉구,17659.0,17893.0,17713.0,18584.0,18455.0,18686.0,18351.0,18894.0,18628.0,25607.0
70,사업체수,노원구,노원구,25636.0,24864.0,25173.0,26081.0,25827.0,26271.0,26516.0,26616.0,26618.0,37442.0
77,사업체수,은평구,은평구,23055.0,23325.0,23953.0,24269.0,24179.0,24615.0,24561.0,24873.0,24681.0,36273.0
84,사업체수,서대문구,서대문구,18116.0,18653.0,19211.0,19454.0,19612.0,19540.0,19852.0,19796.0,20095.0,28769.0
91,사업체수,마포구,마포구,30420.0,32053.0,32793.0,35070.0,36504.0,36191.0,36325.0,37232.0,37290.0,58694.0
98,사업체수,양천구,양천구,25275.0,25750.0,25720.0,26189.0,26297.0,26108.0,26077.0,26126.0,25894.0,37183.0
105,사업체수,강서구,강서구,31069.0,31596.0,32021.0,32789.0,33273.0,34662.0,36556.0,38524.0,39458.0,58788.0
112,사업체수,구로구,구로구,33784.0,35523.0,35352.0,36679.0,37445.0,38033.0,38405.0,38553.0,38756.0,53547.0
119,사업체수,금천구,금천구,26092.0,27651.0,28406.0,29557.0,30080.0,30987.0,31750.0,32472.0,33814.0,47354.0
126,사업체수,영등포구,영등포구,40594.0,42157.0,42151.0,44099.0,44512.0,43678.0,43163.0,42589.0,42370.0,74060.0
133,사업체수,동작구,동작구,19895.0,20022.0,20035.0,20160.0,19609.0,19747.0,19966.0,19916.0,19793.0,28505.0
140,사업체수,관악구,관악구,25956.0,26294.0,26309.0,26396.0,26235.0,26377.0,26374.0,26105.0,25505.0,38639.0
147,사업체수,서초구,서초구,38535.0,42602.0,42882.0,45932.0,47061.0,46404.0,46207.0,46540.0,46940.0,75858.0
154,사업체수,강남구,강남구,57987.0,62448.0,62614.0,70262.0,73590.0,72281.0,72511.0,71373.0,71027.0,115054.0
161,사업체수,송파구,송파구,42778.0,43771.0,43503.0,44301.0,45375.0,45555.0,46676.0,47772.0,48644.0,76412.0
168,사업체수,강동구,강동구,28733.0,29694.0,29756.0,30481.0,30079.0,30268.0,29952.0,29772.0,29080.0,40978.0

In [8]:
fordername1 = '/content/drive/MyDrive/상관관계분석용/'
file_list1 = os.listdir('/content/drive/MyDrive/상관관계분석용')
file_list1

['자치구별 자동차등록대수.csv', '인프라.csv', '.ipynb_checkpoints']

In [13]:
infra = pd.read_csv(fordername1+file_list1[1])

car = pd.read_csv(fordername1+file_list1[0])

In [17]:
infra

     행정구  학생1만명당 사설학원수    병원수  유통업체수 문화생활 연간 평균비용     년
0    종로구         147.7    494     13       96,829  2020
1     중구          80.3    572     53       94,977  2020
2    용산구          97.1    310     13      100,177  2020
3    성동구         141.3    456     13       79,516  2020
4    광진구         139.8    552     19      106,406  2020
5   동대문구         131.9    586     21       71,520  2020
6    중랑구          95.8    531     14       98,807  2020
7    성북구         115.9    540     21      150,247  2020
8    강북구          96.3    466     12      115,584  2020
9    도봉구         107.4    367      8      123,471  2020
10   노원구         117.6    734     14       67,876  2020
11   은평구         119.9    677     17       81,534  2020
12  서대문구         144.1    441      9       61,945  2020
13   마포구         247.7    742     16       85,633  2020
14   양천구         193.4    638     20       71,423  2020
15   강서구         134.1    861     15      115,965  2020
16   구로구         111.3    569     23      101,096  2020
17   금천구         128.5    354     15       56,068  2020
18  영등포구         175.7    779     26       77,851  2020
19   동작구         161.5    588      5       77,493  2020
20   관악구         140.3    698     21       68,178  2020
21   서초구         263.4  1,251     27      115,779  2020
22   강남구         397.8  2,693     32      134,696  2020
23   송파구         172.9  1,194     22       82,020  2020
24   강동구         170.9    823     12       76,906  2020

In [14]:
car

     행정구     년      승용차    승합차     화물차  특수차     이륜차       소계
0    종로구  2020   38,953  1,757   3,934   53  12,762   44,697
1     중구  2020   38,551  2,102   4,968   89  14,188   45,710
2    용산구  2020   68,904  2,162   5,481   77  16,570   76,624
3    성동구  2020   82,602  2,466   8,827   97  19,894   93,992
4    광진구  2020   79,661  2,662  10,527   47  18,451   92,897
5   동대문구  2020   79,187  3,237  10,266   97  23,807   92,787
6    중랑구  2020   88,177  3,796  12,144  133  24,630  104,250
7    성북구  2020  101,842  3,571   8,992   84  26,298  114,489
8    강북구  2020   60,792  2,719   7,502   64  22,243   71,077
9    도봉구  2020   76,473  2,958   8,664  108  14,848   88,203
10   노원구  2020  128,202  4,145  10,633  113  15,079  143,093
11   은평구  2020  110,148  3,895  10,668  118  21,150  124,829
12  서대문구  2020   74,359  2,521   6,201   81  14,977   83,162
13   마포구  2020   99,115  3,099   9,679  156  17,425  112,049
14   양천구  2020  126,383  3,903  11,995  187  20,843  142,468
15   강서구  2020  163,102  5,558  16,819  239  19,002  185,718
16   구로구  2020  112,412  5,015  14,485  222  15,693  132,134
17   금천구  2020   68,114  3,342  10,785   92  11,879   82,333
18  영등포구  2020  116,304  4,567  15,181  578  16,883  136,630
19   동작구  2020   92,416  2,811   7,170   86  15,142  102,483
20   관악구  2020   99,684  3,889   9,808  113  24,898  113,494
21   서초구  2020  152,796  3,658  11,195  207  12,224  167,856
22   강남구  2020  198,555  4,731  13,390  243  17,910  216,919
23   송파구  2020  201,276  4,910  25,917  217  20,614  232,320
24   강동구  2020  123,993  3,841  12,720  124  17,026  140,678

In [16]:

car_list = car.values.tolist()
car_list[0][7]

'44,697'

In [26]:
hospital

    자치구별(2)  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021
0   자치구별(2)   병원수   병원수   병원수   병원수   병원수   병원수   병원수   병원수   병원수   병원수
1       종로구   479   475   476   473   485   500   496   494   494   489
2        중구   552   549   544   528   540   543   558   560   572   572
3       용산구   287   280   289   300   298   298   304   307   310   323
4       성동구   365   371   381   394   394   432   432   444   456   460
5       광진구   512   523   528   539   539   543   553   552   552   559
6      동대문구   596   586   589   593   599   605   603   607   586   596
7       중랑구   460   465   473   483   490   491   498   511   531   535
8       성북구   553   554   541   529   527   525   530   528   540   533
9       강북구   425   420   424   453   438   447   450   461   466   467
10      도봉구   336   346   345   352   363   367   364   369   367   366
11      노원구   667   678   684   698   712   717   717   725   734   737
12      은평구   550   581   593   605   622   623   644   662   677   688
13     서대문구   397   412   413   424   431   432   430   435   441   437
14      마포구   618   635   667   690   702   717   715   730   742   762
15      양천구   594   591   610   609   613   621   627   626   638   651
16      강서구   664   673   688   708   739   777   802   836   861   887
17      구로구   513   524   539   550   566   557   556   559   569   583
18      금천구   305   306   315   319   336   330   339   356   354   356
19     영등포구   681   678   699   707   724   729   738   756   779   793
20      동작구   534   536   550   556   559   560   570   576   588   595
21      관악구   651   659   661   664   666   673   681   693   698   710
22      서초구  1139  1172  1184  1209  1216  1229  1201  1226  1251  1306
23      강남구  2369  2407  2452  2476  2531  2559  2594  2643  2693  2790
24      송파구   982   982  1006  1018  1048  1106  1129  1165  1194  1214
25      강동구   713   722   735   738   758   761   771   789   823   852

# 2012년

In [30]:
# 2012 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2012 = apt[apt['년']==2012][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2012_list = apt2012.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

## 유통업체개수 
mart_list = mart.values.tolist()
#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2012_list)):
  apt2012_list[i][5] = int(2012-apt2012_list[i][5])
  for j in range(len(hospital_list)):
    if apt2012_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2012_list[i].append(int(hospital_list[j][1]))
  for j in range(len(company_list)):
    if apt2012_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2012_list[i].append(company_list[j][4])
  for j in range(len(subway_list)):    
    if apt2012_list[i][0] == subway_list[j][0]:
      apt2012_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2012_list[i][0] == school_list[j][0]:
      apt2012_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2012_list[i][1]:
      apt2012_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2012_list[i]) < 11:
      apt2012_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2012_list[i]) == 12:
       apt2012_list[i].pop(-1)
  for j in range(len(car_list)):
    if apt2012_list[i][0] == car_list[j][0]:
      apt2012_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2012_list[i][0] == infra_list[j][0]:
      apt2012_list[i].append(int(infra_list[j][1]))
  for j in range(len(mart_list)):
    if apt2012_list[i][0] == mart_list[j][0]:
      apt2012_list[i].append(int(mart_list[j][1]))
  for j in range(len(infra_list)):
    if apt2012_list[i][0] == infra_list[j][0]:
      apt2012_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2012df = pd.DataFrame(apt2012_list,columns=col_name)
apt2012df = apt2012df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2012df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2012년.csv',encoding='cp949',index=None)

In [21]:
apt2012df

,행정구,전용면적,층수,아파트연식,병원수,사업체수,지하철수,학군점수,브랜드지수,자동차등록수,학생1만명당학원수,유통업체수,문화생활비,평단가
0,영등포구,192.730,11,37,681,42157.0,11,0.01,50.0,136630,175,26,77851,565.558
1,강서구,58.140,9,17,664,31596.0,9,0.08,50.0,185718,134,15,115965,378.397
2,구로구,84.320,6,2,513,35523.0,7,0.01,50.0,132134,111,23,101096,448.885
3,구로구,84.940,2,13,513,35523.0,7,0.01,50.0,132134,111,23,101096,288.439
4,영등포구,84.920,7,9,681,42157.0,11,0.01,359.0,136630,175,26,77851,677.108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41074,은평구,59.630,1,1,550,23325.0,13,0.01,359.0,124829,119,17,81534,534.966
41075,송파구,76.500,15,34,982,43771.0,28,0.10,50.0,232320,172,22,82020,1163.399
41076,송파구,84.790,12,14,982,43771.0,28,0.10,50.0,232320,172,22,82020,459.960
41077,강동구,84.980,22,4,713,29694.0,14,0.01,264.9,140678,170,12,76906,608.378
41078,강남구,35.236,9,9,2369,62448.0,21,0.23,50.0,216919,397,32,134696,661.256

In [22]:
hospital_list

[['자치구별(2)',
  '병원수',
  '병원수',
  '병원수',
  '병원수',
  '병원수',
  '병원수',
  '병원수',
  '병원수',
  '병원수',
  '병원수'],
 ['종로구', '479', '475', '476', '473', '485', '500', '496', '494', '494', '489'],
 ['중구', '552', '549', '544', '528', '540', '543', '558', '560', '572', '572'],
 ['용산구', '287', '280', '289', '300', '298', '298', '304', '307', '310', '323'],
 ['성동구', '365', '371', '381', '394', '394', '432', '432', '444', '456', '460'],
 ['광진구', '512', '523', '528', '539', '539', '543', '553', '552', '552', '559'],
 ['동대문구',
  '596',
  '586',
  '589',
  '593',
  '599',
  '605',
  '603',
  '607',
  '586',
  '596'],
 ['중랑구', '460', '465', '473', '483', '490', '491', '498', '511', '531', '535'],
 ['성북구', '553', '554', '541', '529', '527', '525', '530', '528', '540', '533'],
 ['강북구', '425', '420', '424', '453', '438', '447', '450', '461', '466', '467'],
 ['도봉구', '336', '346', '345', '352', '363', '367', '364', '369', '367', '366'],
 ['노원구', '667', '678', '684', '698', '712', '717', '717', '725', '734', '737'],
 ['은평구', '550', '581', '593', '605', '622', '623', '644', '662', '677', '688'],
 ['서대문구',
  '397',
  '412',
  '413',
  '424',
  '431',
  '432',
  '430',
  '435',
  '441',
  '437'],
 ['마포구', '618', '635', '667', '690', '702', '717', '715', '730', '742', '762'],
 ['양천구', '594', '591', '610', '609', '613', '621', '627', '626', '638', '651'],
 ['강서구', '664', '673', '688', '708', '739', '777', '802', '836', '861', '887'],
 ['구로구', '513', '524', '539', '550', '566', '557', '556', '559', '569', '583'],
 ['금천구', '305', '306', '315', '319', '336', '330', '339', '356', '354', '356'],
 ['영등포구',
  '681',
  '678',
  '699',
  '707',
  '724',
  '729',
  '738',
  '756',
  '779',
  '793'],
 ['동작구', '534', '536', '550', '556', '559', '560', '570', '576', '588', '595'],
 ['관악구', '651', '659', '661', '664', '666', '673', '681', '693', '698', '710'],
 ['서초구',
  '1139',
  '1172',
  '1184',
  '1209',
  '1216',
  '1229',
  '1201',
  '1226',
  '1251',
  '1306'],
 ['강남구',
  '2369',
  '2407',
  '2452',
  '2476',
  '2531',
  '2559',
  '2594',
  '2643',
  '2693',
  '2790'],
 ['송파구',
  '982',
  '982',
  '1006',
  '1018',
  '1048',
  '1106',
  '1129',
  '1165',
  '1194',
  '1214'],
 ['강동구', '713', '722', '735', '738', '758', '761', '771', '789', '823', '852']]

# 2013년

In [31]:
# 2013 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2013 = apt[apt['년']==2013][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2013_list = apt2013.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2013_list)):
  apt2013_list[i][5] = int(2013-apt2013_list[i][5])
  for j in range(len(hospital_list)):
    if apt2013_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2013_list[i].append(int(hospital_list[j][2]))
  for j in range(len(company_list)):
    if apt2013_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2013_list[i].append(company_list[j][5])
  for j in range(len(subway_list)):    
    if apt2013_list[i][0] == subway_list[j][0]:
      apt2013_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2013_list[i][0] == school_list[j][0]:
      apt2013_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2013_list[i][1]:
      apt2013_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2013_list[i]) < 11:
      apt2013_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2013_list[i]) == 12:
       apt2013_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2013_list[i][0] == car_list[j][0]:
      apt2013_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2013_list[i][0] == infra_list[j][0]:
      apt2013_list[i].append(int(infra_list[j][1]))

   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2013_list[i][0] == mart_list[j][0]:
      apt2013_list[i].append(int(mart_list[j][2]))
  for j in range(len(infra_list)):
    if apt2013_list[i][0] == infra_list[j][0]:
      apt2013_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2013df = pd.DataFrame(apt2013_list,columns=col_name)
apt2013df = apt2013df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2013df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2013년.csv',encoding='cp949',index=None)

# 2014년

In [32]:
# 2014 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2014 = apt[apt['년']==2014][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2014_list = apt2014.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2014_list)):
  apt2014_list[i][5] = int(2014-apt2014_list[i][5])
##########################################################  
  for j in range(len(hospital_list)):
    if apt2014_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2014_list[i].append(int(hospital_list[j][3]))

#############################################################
  for j in range(len(company_list)):
    if apt2014_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2014_list[i].append(company_list[j][6])
###############################################################3

  for j in range(len(subway_list)):    
    if apt2014_list[i][0] == subway_list[j][0]:
      apt2014_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2014_list[i][0] == school_list[j][0]:
      apt2014_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2014_list[i][1]:
      apt2014_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2014_list[i]) < 11:
      apt2014_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2014_list[i]) == 12:
       apt2014_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2014_list[i][0] == car_list[j][0]:
      apt2014_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2014_list[i][0] == infra_list[j][0]:
      apt2014_list[i].append(int(infra_list[j][1]))
########################################################################
   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2014_list[i][0] == mart_list[j][0]:
      apt2014_list[i].append(int(mart_list[j][3]))
########################################################################
  for j in range(len(infra_list)):
    if apt2014_list[i][0] == infra_list[j][0]:
      apt2014_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2014df = pd.DataFrame(apt2014_list,columns=col_name)
apt2014df = apt2014df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2014df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2014년.csv',encoding='cp949',index=None)

# 2015

In [33]:
# 2015 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2015 = apt[apt['년']==2015][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2015_list = apt2015.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2015_list)):
  apt2015_list[i][5] = int(2015-apt2015_list[i][5])
##########################################################  
  for j in range(len(hospital_list)):
    if apt2015_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2015_list[i].append(int(hospital_list[j][4]))

#############################################################
  for j in range(len(company_list)):
    if apt2015_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2015_list[i].append(company_list[j][7])
###############################################################3

  for j in range(len(subway_list)):    
    if apt2015_list[i][0] == subway_list[j][0]:
      apt2015_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2015_list[i][0] == school_list[j][0]:
      apt2015_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2015_list[i][1]:
      apt2015_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2015_list[i]) < 11:
      apt2015_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2015_list[i]) == 12:
       apt2015_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2015_list[i][0] == car_list[j][0]:
      apt2015_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2015_list[i][0] == infra_list[j][0]:
      apt2015_list[i].append(int(infra_list[j][1]))
########################################################################
   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2015_list[i][0] == mart_list[j][0]:
      apt2015_list[i].append(int(mart_list[j][4]))
########################################################################
  for j in range(len(infra_list)):
    if apt2015_list[i][0] == infra_list[j][0]:
      apt2015_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2015df = pd.DataFrame(apt2015_list,columns=col_name)
apt2015df = apt2015df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2015df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2015년.csv',encoding='cp949',index=None)

# 2016

In [34]:
# 2016 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2016 = apt[apt['년']==2016][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2016_list = apt2016.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2016_list)):
  apt2016_list[i][5] = int(2016-apt2016_list[i][5])
##########################################################  
  for j in range(len(hospital_list)):
    if apt2016_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2016_list[i].append(int(hospital_list[j][5]))

#############################################################
  for j in range(len(company_list)):
    if apt2016_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2016_list[i].append(company_list[j][8])
###############################################################3

  for j in range(len(subway_list)):    
    if apt2016_list[i][0] == subway_list[j][0]:
      apt2016_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2016_list[i][0] == school_list[j][0]:
      apt2016_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2016_list[i][1]:
      apt2016_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2016_list[i]) < 11:
      apt2016_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2016_list[i]) == 12:
       apt2016_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2016_list[i][0] == car_list[j][0]:
      apt2016_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2016_list[i][0] == infra_list[j][0]:
      apt2016_list[i].append(int(infra_list[j][1]))
########################################################################
   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2016_list[i][0] == mart_list[j][0]:
      apt2016_list[i].append(int(mart_list[j][5]))
########################################################################
  for j in range(len(infra_list)):
    if apt2016_list[i][0] == infra_list[j][0]:
      apt2016_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2016df = pd.DataFrame(apt2016_list,columns=col_name)
apt2016df = apt2016df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2016df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2016년.csv',encoding='cp949',index=None)

# 2017

In [35]:
# 2017 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2017 = apt[apt['년']==2017][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2017_list = apt2017.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2017_list)):
  apt2017_list[i][5] = int(2017-apt2017_list[i][5])
##########################################################  
  for j in range(len(hospital_list)):
    if apt2017_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2017_list[i].append(int(hospital_list[j][6]))

#############################################################
  for j in range(len(company_list)):
    if apt2017_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2017_list[i].append(company_list[j][9])
###############################################################3

  for j in range(len(subway_list)):    
    if apt2017_list[i][0] == subway_list[j][0]:
      apt2017_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2017_list[i][0] == school_list[j][0]:
      apt2017_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2017_list[i][1]:
      apt2017_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2017_list[i]) < 11:
      apt2017_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2017_list[i]) == 12:
       apt2017_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2017_list[i][0] == car_list[j][0]:
      apt2017_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2017_list[i][0] == infra_list[j][0]:
      apt2017_list[i].append(int(infra_list[j][1]))
########################################################################
   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2017_list[i][0] == mart_list[j][0]:
      apt2017_list[i].append(int(mart_list[j][6]))
########################################################################
  for j in range(len(infra_list)):
    if apt2017_list[i][0] == infra_list[j][0]:
      apt2017_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2017df = pd.DataFrame(apt2017_list,columns=col_name)
apt2017df = apt2017df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2017df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2017년.csv',encoding='cp949',index=None)

# 2018

In [36]:
# 2018 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2018 = apt[apt['년']==2018][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2018_list = apt2018.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2018_list)):
  apt2018_list[i][5] = int(2018-apt2018_list[i][5])
##########################################################  
  for j in range(len(hospital_list)):
    if apt2018_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2018_list[i].append(int(hospital_list[j][7]))

#############################################################
  for j in range(len(company_list)):
    if apt2018_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2018_list[i].append(company_list[j][10])
###############################################################3

  for j in range(len(subway_list)):    
    if apt2018_list[i][0] == subway_list[j][0]:
      apt2018_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2018_list[i][0] == school_list[j][0]:
      apt2018_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2018_list[i][1]:
      apt2018_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2018_list[i]) < 11:
      apt2018_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2018_list[i]) == 12:
       apt2018_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2018_list[i][0] == car_list[j][0]:
      apt2018_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2018_list[i][0] == infra_list[j][0]:
      apt2018_list[i].append(int(infra_list[j][1]))
########################################################################
   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2018_list[i][0] == mart_list[j][0]:
      apt2018_list[i].append(int(mart_list[j][7]))
########################################################################
  for j in range(len(infra_list)):
    if apt2018_list[i][0] == infra_list[j][0]:
      apt2018_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2018df = pd.DataFrame(apt2018_list,columns=col_name)
apt2018df = apt2018df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2018df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2018년.csv',encoding='cp949',index=None)

# 2019

In [37]:
# 2019 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2019 = apt[apt['년']==2019][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2019_list = apt2019.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2019_list)):
  apt2019_list[i][5] = int(2019-apt2019_list[i][5])
##########################################################  
  for j in range(len(hospital_list)):
    if apt2019_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2019_list[i].append(int(hospital_list[j][8]))

#############################################################
  for j in range(len(company_list)):
    if apt2019_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2019_list[i].append(company_list[j][11])
###############################################################3

  for j in range(len(subway_list)):    
    if apt2019_list[i][0] == subway_list[j][0]:
      apt2019_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2019_list[i][0] == school_list[j][0]:
      apt2019_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2019_list[i][1]:
      apt2019_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2019_list[i]) < 11:
      apt2019_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2019_list[i]) == 12:
       apt2019_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2019_list[i][0] == car_list[j][0]:
      apt2019_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2019_list[i][0] == infra_list[j][0]:
      apt2019_list[i].append(int(infra_list[j][1]))
########################################################################
   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2019_list[i][0] == mart_list[j][0]:
      apt2019_list[i].append(int(mart_list[j][8]))
########################################################################
  for j in range(len(infra_list)):
    if apt2019_list[i][0] == infra_list[j][0]:
      apt2019_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2019df = pd.DataFrame(apt2019_list,columns=col_name)
apt2019df = apt2019df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2019df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2019년.csv',encoding='cp949',index=None)

# 2020

In [38]:
# 2020 년 기준 아파트정보 변수 초기 추출
# 단지명으로 브랜드 지수 추출 예정 
apt2020 = apt[apt['년']==2020][['행정구','단지명','전용면적(㎡)','평단가','층','준공년도']]

apt2020_list = apt2020.values.tolist()

#사업체수 행만 추출하여 리스트로 전환처리
company = company.loc[company['항목']=='사업체수']
company_list = company.values.tolist()
#지하철개수
subway_list = subway.values.tolist()

#인프라정보 
infra_list = infra.values.tolist()

#자동차 등록 대수 

car_list = car.values.tolist()

# 0번째핼 제거 
#hospital = hospital.drop([0])
#병원개수 리스로 전환 
hospital_list = hospital.values.tolist()

for i in range(len(apt2020_list)):
  apt2020_list[i][5] = int(2020-apt2020_list[i][5])
##########################################################  
  for j in range(len(hospital_list)):
    if apt2020_list[i][0] == hospital_list[j][0]:
      #년도별 병원갯수
      apt2020_list[i].append(int(hospital_list[j][9]))

#############################################################
  for j in range(len(company_list)):
    if apt2020_list[i][0] == company_list[j][1]:
      #년도별 사업체수
      apt2020_list[i].append(company_list[j][12])
###############################################################3

  for j in range(len(subway_list)):    
    if apt2020_list[i][0] == subway_list[j][0]:
      apt2020_list[i].append(subway_list[j][1])
  for j in range(len(school_list)):
    if apt2020_list[i][0] == school_list[j][0]:
      apt2020_list[i].append(school_list[j][1])
  for j in range(len(brand_list)):
    #브랜드 지수 비교 처리
    if brand_list[j][0] in apt2020_list[i][1]:
      apt2020_list[i].append(brand_list[j][1])
  # 브랜드 아파트에 속하지 않을경우 일괄적인 값을 넣어주기 위한코드
  if len(apt2020_list[i]) < 11:
      apt2020_list[i].append(50)
  ## 이름이 중복 된경우 ex) 래미안e편한세상 ㄷㄷ...
  elif len(apt2020_list[i]) == 12:
       apt2020_list[i].pop(-1)


  for j in range(len(car_list)):
    if apt2020_list[i][0] == car_list[j][0]:
      apt2020_list[i].append(int(car_list[j][7].replace(',','')))
  for j in range(len(infra_list)):
    if apt2020_list[i][0] == infra_list[j][0]:
      apt2020_list[i].append(int(infra_list[j][1]))
########################################################################
   #년도별 유통업체 개수    
  for j in range(len(mart_list)):
    if apt2020_list[i][0] == mart_list[j][0]:
      apt2020_list[i].append(int(mart_list[j][9]))
########################################################################
  for j in range(len(infra_list)):
    if apt2020_list[i][0] == infra_list[j][0]:
      apt2020_list[i].append(int(infra_list[j][4].replace(',','')))
  
col_name=['행정구' , '단지' ,'전용면적','평단가' , '층수' ,'아파트연식', '병원수' , '사업체수', '지하철수' , '학군점수' , '브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비']
apt2020df = pd.DataFrame(apt2020_list,columns=col_name)
apt2020df = apt2020df[['행정구','전용면적','층수','아파트연식','병원수','사업체수','지하철수','학군점수','브랜드지수','자동차등록수','학생1만명당학원수','유통업체수','문화생활비','평단가']]
apt2020df.to_csv('/content/drive/MyDrive/시각화프로젝트/상관계수분석/2020년.csv',encoding='cp949',index=None)